# ===== Dataset =====
dataset/

# ===== Model weights =====
models/*.pt

# ===== Ultralytics source / cache =====
ultralytics/

# ===== Python cache =====
__pycache__/
*.pyc
*.pyo

# ===== OS / IDE =====
.DS_Store
.vscode/